AmountForm/Connected Services/ServRef_wcf_online/PPSI_ServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PPSI_ServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://153.109.124.35:81/RiedoBaletWcf/PPSI_ServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://153.109.124.35:81/RiedoBaletWcf/PPSI_ServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPPSI_ServiceWCF_AddAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAmount" />
  </wsdl:message>
  <wsdl:message name="IPPSI_ServiceWCF_AddAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IPPSI_ServiceWCF_GetAvailableAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAmount" />
  </wsdl:message>
  <wsdl:message name="IPPSI_ServiceWCF_GetAvailableAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="IPPSI_ServiceWCF">
    <wsdl:operation name="AddAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPPSI_ServiceWCF/AddAmount" message="tns:IPPSI_ServiceWCF_AddAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPPSI_ServiceWCF/AddAmountResponse" message="tns:IPPSI_ServiceWCF_AddAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPPSI_ServiceWCF/GetAvailableAmount" message="tns:IPPSI_ServiceWCF_GetAvailableAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPPSI_ServiceWCF/GetAvailableAmountResponse" message="tns:IPPSI_ServiceWCF_GetAvailableAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPPSI_ServiceWCF" type="tns:IPPSI_ServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAmount">
      <soap:operation soapAction="http://tempuri.org/IPPSI_ServiceWCF/AddAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAmount">
      <soap:operation soapAction="http://tempuri.org/IPPSI_ServiceWCF/GetAvailableAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PPSI_ServiceWCF">
    <wsdl:port name="BasicHttpBinding_IPPSI_ServiceWCF" binding="tns:BasicHttpBinding_IPPSI_ServiceWCF">
      <soap:address location="http://153.109.124.35:81/RiedoBaletWcf/PPSI_ServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>